h1, h2, h3, h4
{
    font-family: "Nova Round";
}

h1
{
    color: white;
    background-color: black;
    padding-left:5pt;
    padding-top:5pt;
    padding-bottom:5pt;
}

h2
{
    color: white;
    background-color: black;
    padding-left:5pt;
    padding-top:5pt;
    padding-bottom:5pt;
}

h3
{
    color: white;
    background-color: darkslategrey;
    padding-left:5pt;
    padding-top:5pt;
    padding-bottom:5pt;
}

h2
{
    page-break-before: always;
}

table
{
    width: 100%;
    page-break-inside:avoid;
}

.img_border
{
    padding: 15px;
    border: 1px solid;
 }

 .admonition
 {
    page-break-inside:avoid;
 }