h1, h2, h3, h4
{
    font-family: "Nova Round";
    page-break-inside: avoid;
}

h1
{
    color: white;
    font-weight: bold;
    background-color: #495664;
    padding-left: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

h2
{
    color: white;
    font-weight: bold;
    background-color: #495664;
    padding-left: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

h3
{
    color: white;
    background-color: #5f7082;
    padding-left: 10pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

h4
{
    font-weight: bold;
}

h2
{
    page-break-before: always;
}

table
{
    width: 100%;
    page-break-inside: avoid;
}

.img_border
{
    padding: 15px;
    border: 1px solid;
 }

 .admonition
 {
    page-break-inside: avoid;
 }